body {
  background-image: url(./imgs/cincySkyline.jpg)
}

.container{
  background-color: white;
  
}

.jumbotron{
  background-color:#334040 ;
  text-align: center;
}

.jumbotron h1{
  color:#D7C7B4;
}

h2{
  text-align: center;
}

.location{
  color: #5FA19E;
}


#selector button{
  margin: .75em;
}

#dropDown{
  display: inline-block
}

button.btn-secondary{
  background-color: #5FA19E;
  border-color: #5FA19E;
}

button.dropdown-item:hover{
  background-color: #5FA19E;
  
  
}

h1{
  font-family: 'Vesper Libre', serif;
}

h2, button.dropdown-toggle{
  font-family: 'Work Sans', sans-serif;
}

#footer p{
  font-size: 25px;
  color:#D7C7B4;
}

#footer p a {
  color:#5FA19E;
}
