body {
  background-image: url(./imgs/cincySkyline.jpg)
}

.container{
  background-color: white;
  height: 100%;
}

.jumbotron{
  background-color:#334040 ;
  text-align: center;
}

.jumbotron h1{
  color:#D7C7B4;
}
