#root{
  width: 100vw;
}



@media screen and (min-width: 551px){
  body {
  background-image: url(./imgs/cincySkyline.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  }

  h1{
      font-size: 4rem;
  }
}

.container{
  background-color: white;
  min-height: 100vh;
  
}

@media screen and(max-width: 550px){
  .container{
    width: 100vw;
  }

  #header h1{
      font-size: 6px;
      
  }

  #header, #footer{
      height: auto;
  }
}



#header h1{
  color:#D7C7B4;
}


html, body{
    min-width: 100vw;
    overflow: auto;
}